html {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  background-color: white;
}

body {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-text);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin-top: .2em;
  margin-bottom: .25em;
}

.section.is-primary {
  --color-text: white;
  color: var(--color-text);
  background-color: var(--color-primary);
}

.container.is-spaced {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: auto;
  padding: 1.5rem;
}

.title {
  color: var(--color-text);
  display: block;
  font-weight: 600;
  margin-bottom: .6em;
  margin-top: .5em;
  text-align: center;

  &.has-no-margin {
    margin: 0;
  }

  &.is-size-1 {
    font-size: 4.8rem;
  }

  &.is-size-2 {
    font-size: 4rem;
  }
}

.subtitle {
  color: var(--color-text);
  text-align: center;
  margin-bottom: 1.7em;
  margin-top: 1.3em;

  &.is-black {
    color: var(--color-text-black);
  }

  &.is-size-1 {
    font-size: 2.4rem;
  }

  &.is-size-2 {
    font-size: 3.2rem;
  }
}

.quote {
  color: var(--color-text);
  font-size: 2em;
  max-width: 70rem;
  text-align: left;
  padding-left: 1.5em;
  border-left: var(--color-text) solid .2em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

