.has-no-margin {
  margin: 0 !important;
}

.has-no-padding {
  padding: 0 !important;
}

.is-color-primary-dark {
  color: var(--color-primary-dark);
}

.is-color-primary {
  color: var(--color-primary);
}
