.big-card {
  --color-text: #{$color-text};
  color: var(--color-text);
  background-color: white;
  border: rgba(0, 0, 0, .3) 1px solid;
  border-radius: 3rem;
  box-shadow: 0 4px 10px 1px rgba(50,50,50,0.3), 0 0 0 1px #E6ECF8;
  overflow: hidden;
}

.big-card-header {
  text-align: center;
  padding: 15px;
}

.big-card-title {
  font-size: 2em;
}

.big-card-body {
  padding: 15px;
}

